body {
    background: black;
    color: white;
    margin: 20px;
    width: 95%;
    
}

#letter {
    color: red;
}

.footer {
    border-top: dotted 3px gray;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 100px;
    padding-top: 15px;
    background-color: black;
}

audio {
        float: left;
}

@media only screen and (max-width:980px) {
    body {
      width: 700px;
      margin: 10 10 10 20px;
    }
    .article {
        width: 100%;
    }
    .footer {
        width: 700px;
        margin: auto;
    }
}
  
@media only screen and (max-width:768px) {
    body {
        width: 640px;
        margin: 10 10 10 20px;
    }
    .article {
        width: 100%;
    }
    .footer {
        width: 640px;
        margin: auto;
    }
}
  
@media only screen and (max-width:640px) {
    body {
        width: 500px;
        margin: 10 10 10 20px;        
    }
    .article {
        width: 100%;
    }
    .footer {
        text-align: center;
        width: 500px;
        height: 70px;
    }
    audio {
        padding-top:10px;
        position:absolute;
        bottom:0;
        left:0;
    }
}

@media only screen and (max-width:500px) {
    body {
        width: 350px;
        margin: 10 10 10 20px;        
    }
    .article {
        width: 100%;
    }
    .footer {
        width: 350px;
        
    }
    audio {
        padding-top:10px;
        position:absolute;
        bottom:0;
        left:0;
    }
}