body {
  background: black;
  color: white;
}

#letter {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  border-top: dotted 3px gray;
  background-color: black;
}

#wins {
  color: green;
}

#losses {
  color: red;
}

audio {
  float: left;
}